@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    text-align: center;
    color: white;
    background-color: #181d29ef !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #ededf0;
}
.main h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
}
.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-radius: 12px;
}
.codeblock {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-radius: 12px;
    color: #ededf0;
}
.navbar {
    margin-top: -1px;
    border-radius: 12px;
    background-color: #1d2027 !important;
    padding-top: 8px;
}
.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}
.navul li {
    display: inline-flex;
}
.navimg {
    float: left;
    cursor: pointer;
}
.navp {
    float: right;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.navp a {
    display: block;
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 12px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navp a:hover {
    background-color: rgba(255, 255, 255, 0.199);;
    transition: 0.8s;
}
.navli a {
    display: block;
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 12px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.navli a:hover {
    background-color: rgba(255, 255, 255, 0.199);
    color: rgb(255, 255, 255);
    transition: 0.8s;
}
.exie {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.codeblock {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-radius: 12px;
    color: #ededf0;
    margin-left: auto;
}
.codeblock img {
    cursor: pointer;
}
.ye2 code{
    font-family: Consolas,"courier new";
    color: rgb(9, 255, 0);
    background-color: #27282E;
    padding: 2px;
    font-size: 105%;
}
.ye1 code{
    font-family: Consolas,"courier new";
    color: rgb(67, 220, 20);
    background-color: #27282E;
    padding: 2px;
    font-size: 105%;
}
.exie a{
    color: #ededf0;
}
.info a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.info a:hover{
    transition: 0.3s;
    color: #5865F2;
}
.info {
    margin-top: 150px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media screen and (max-width: 800px) {
    .navp a{
        display: none;
    }
    .navul {
        display: flex;
    }
    .navli {
        display: inline-block;
    }
    .navli a {
        float: none;
        display: block;
        text-align: left;
    }
    #soe {
        display: none;
    }
}